<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
    
    <div layout:fragment="content">
    
<head>
    <meta charset="UTF-8">
    <title>Book Cart</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
        
    <style>
        * {
            font-family: 'NanumBarunGothic';        
        }
    </style>
</head>
<body>
	
    <div class="w-70 container">
	
	<!-- 진행 순서 보여주기 -->
	<ul class="list-group list-group-horizontal">
		<li class="list-group-item border-0" style="font-weight: bold;">01 CART</li>
		<li class="list-group-item border-0" style="color:gray;">></li>
		<li class="list-group-item border-0" style="color:gray;">02 ORDER</li>
		<li class="list-group-item border-0" style="color:gray;">></li>
		<li class="list-group-item border-0" style="color:gray;">03 ORDER CONFIRMED</li>
	</ul>
    <!-- 약간의 개인정보 넣어두기 (헷갈리지 않게) -->
    <div th:text="${ user.username }"></div>
    
	<!-- 주문내역 -->
	<table class="w-100 table" style="text-align: center;">
		<thead class="table-light">
            <tr>
    			<th colspan="2">도서 정보</th>
    			<th>수량</th>
    			<th>주문금액</th>
    			<th>배송비</th>
    			<th></th>
            </tr>
		</thead>
		<tbody style="height: 200px;">
            <tr th:each="cart : ${ cartList }">
    			<td class="align-middle">
    			<input type="checkbox" style="width: 30px;" />
    			<img th:src="${ cart.image }" style="width: 150px;"/></td>
    			<td class="align-middle" style="text-align: left;"><!-- 도서 간략 정보 -->
    						<small class="d-inline-flex px-2 my-1 border rounded text-secondary">
                            
    							<span th:text="${ cart.group }"></span><span> / </span><span th:text="${ cart.category }"></span>
    						</small>
    						<div class="h5" th:text="${ cart.title }"></div>
    						<div th:text="${ cart.author }"></div>
    						<div> [[${ cart.prices }]]
    							<span>원</span>
    							<small class="px-1 border border-primary rounded text-primary">p</small>
    							<small class="text-primary">[[${ cart.prices*0.05 }]]</small> 
    						</div>
    			</td>
                <div>
    			<td class="align-middle">
                    <input type='button' class="btnPlusMinus"  value='+'/>
                    <span style="width: 50px" id="countS" > [[${ cart.count }]] </span>
                    <!-- 뭐지?? -->
                    <input type='button' class="btnPlusMinus"  value='-'/>
    
    			</td>
    			<td class="align-middle">
    				<div id="price">
    					[[${ cart.prices }]]<span>원</span>
    				</div>
    			</td>
    			<td class="align-middle">10,000원 이상<br/>
    				배송비 무료</td>
    			<td class="align-middle">
    				<button type="button" class="btn btn-dark btn-sm my-2" style="width: 100px;">Buy Now</button><br/>
    				<button type="button" class="btn btn-danger btn-sm my-2" style="width: 100px;">Delete</button>
    			</td>
            </tr>
		</tbody>
	</table>
	
	<button type="button" class="btn btn-outline-dark btn-sm">선택상품 삭제</button>
	<button type="button" class="btn btn-outline-dark btn-sm">선택상품 주문</button>
	
	<!-- 가격 정보 -->
	<table class="my-2 w-100 table" style="text-align: center;">
		<thead class="table-light">
			<th>총 주문금액</th>
			<th>할인금액</th>
			<th>배송비</th>
			<th>총 결제금액</th>
		</thead>
		<tbody style="height: 200px;">
			<td class="align-middle">
				122<span>원</span>
			</td>
			<td class="align-middle">
				0<span>원</span>
			</td>
			<td class="align-middle">
				0<span>원</span>
			</td>
			<td class="align-middle">
				13,000<span>원</span>
			</td>
		</tbody>
	</table>
	
	<!-- 하단 버튼 -->
	<div class="row">
		<button type="button" class="col w-50 m-2 btn btn-outline-dark">쇼핑 계속하기</button>
		<button id="btnOrder" type="button" class="col w-50 m-2 btn btn-dark">결제하기</button>
	</div>

	<span class="h4" th:text="${ user.username }"></span><span> 님이 찜한 상품은?</span>

    <div id="carouselExampleInterval" class="p-2 carousel slide bg-light" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
            <div class="row">
                <div class="col" th:each="bookWishDto : ${ wishBookInfo }">
                <div class="card my-2" style="width: 15rem; height:30rem;">
                    <div style="width:15rem;">
                        <a th:href="@{ /detail(id=${ bookWishDto.getBookId }) }"><img th:src="${ bookWishDto.getBookImage }" class="card-img-top" alt="테스트" ></a>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div><small class="d-inline-flex px-2 my-1 border rounded text-secondary">
                                <span th:text="${ bookWishDto.getBookgroup }"></span><span> / </span><span th:text="${ bookWishDto.getCategory }"></span>
                            </small></div>
                            <span class="h5" th:text="${ bookWishDto.getBookName }"></span><br/>
                            <span th:text="${ bookWishDto.getAuthor }"></span><br/>
                            <span th:text="${ bookWishDto.getPrices }"></span><span>원</span>
                        </div>
                    </div> <!-- card body end -->
                </div> <!-- card end -->
                </div> <!-- col end -->
            </div> <!-- row end -->
            </div>
        </div>
    </div>

	</div> <!-- 메인 블록 end -->
	    
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous">
    </script>
    
    <!-- 수량 버튼 처리 변경할 예정. -->
    <script type="text/javascript">
    
    window.addEventListener('DOMContentLoaded', function () {
    	const buttons = document.querySelectorAll('.btnPlusMinus');
    	
    	buttons.forEach(btn => {
    		
    		btn.addEventListener('click', e => {
    			const td = btn.closest('td');
    			console.log(td)
    			const span = td.querySelector('span');
    			let number = span.innerText;
    			
    			const type = btn.value;
    			if (type == '+') {
    				number = parseInt(number) + 1;
    			} else {
    				number = parseInt(number) - 1;
    				if(number == 0){
	                   alert('수량은 0이하가 되지 못합니다.')
	                   return;
    	           }
    			}
    			span.innerText = number;
    			
    			const div = btn.closest('div');
    			const price = div.querySelector('#price');
    			console.log(price)
    			price.innerText = number;
   
    			
    		});
    	});
    });
    
    
    /*
    function btnCount(type)  {
    	  // 결과를 표시할 element
    	  const resultElement = document.querySelector('#countS');
    	  
    	  resultElement.forEach(x => {});
    	  
    	  // 현재 화면에 표시된 값
    	  let number = resultElement.innerText;
    	  // 더하기/빼기
    	  if(type === 'plus') {
    	    number = parseInt(number) + 1;
    		console.log(number)
    	    
    	  }else if(type === 'minus')  {
    		  
    	    number = parseInt(number) - 1;
    		console.log(number)
    		
    	       if(number == 0){
    	    	   alert('수량은 0이하가 되지 못합니다.')
    	    	   return;
    	       }
    	    
    	  }
    	  
    	  // 결과 출력
    	  resultElement.innerText = number;
    	}
    */
    </script>
    
</body>

</div>
</html>