<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
        
    <style>
        * {
            font-family: 'NanumBarunGothic';        
        }
    </style>
</head>
<body>

    <!-- 도서 간단 정보 및 장바구니, 구매하기 버튼 블록 -->
    <div class="w-50 container">
        <div class="row my-5"> 
            <!-- 도서 이미지 -->
            <div class="col"> 
                <img th:src="${ book.bookImage }" style="width:450px; height:650px"/>
            </div>
            
            <!-- 도서 정보(+ 도서 정보 추가하기_있으면) -->
            <div class="col border-top border-bottom border-4 border-dark"> 
                <div class="row">
                    <div class="col-10 h2 my-4" th:text="${ book.bookName }">
                    </div>
                    <div class="col-2 my-2">
                    
                    <!--/* 찜하기는 나중에 */-->
                        <img src="#" style="width: 50px" />
                    </div>
                </div>
                <div th:text="${ book.author }"><span style="color: gray;"> 저자</span></div>
                <div th:text="${ book.publisher }"></div>
                <div>
                    ★ ★ ★ ★ <span th:text="${ score }"></span>
                </div>
                <div class="my-2"style="font-weight: bold;">
                    <span style="font-size: large;"  th:text="${ book.prices }"></span>
                    <span>원</span>
                </div>
                <div class="my-2"style="font-weight: bold;">
                    <span style="font-size: large;"  th:text="${ book.prices * 0.05 }"></span>
                    <span>포인트</span>
                </div>

                
                <div class="btn-group my-2 w-100" role="group" aria-label="Basic example">
                    <button type="button" class="w-50 btn btn-outline-dark">장바구니</button> <!-- 장바구니 페이지 이동 -->
                    <button type="button" class="w-50 btn btn-dark">공유하기</button> <!-- url 복사 등 -->
                </div>
                <button type="button" class="w-100 btn btn-danger">구매하기</button> <!-- 결제 페이지 이동 -->
            </div>
        </div>
    
    <!-- nav바 메뉴 바로가기(버튼 누르면 해당 부분으로 스크롤) -->
    <nav id="navbar-example2" class="navbar border-bottom px-3 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#bookInfo">도서정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bookReview">리뷰/한줄평</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bookPayInfo">배송/반품/교환</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">구매하기</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#scrollspyHeading3">장바구니</a></li>
                        <li><a class="dropdown-item" href="#scrollspyHeading4">결제하기</a></li>
                    </ul>
            </li>
        </ul>
    </nav>
    
    <!-- 도서정보 부분 -->
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2"
        data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
        class="scrollspy-example p-3 rounded-2" tabindex="0">


        <div data-bs-spy="scroll" data-bs-target="#navbar-example2"
        data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
        class="scrollspy-example p-3 rounded-2" tabindex="0">
        <h4 id="bookInfo" th:text="${ book.bookName }"></h4>
        <p th:text="${ book.bookIntro }"></p>


        <div>
            <img loading="lazy" th:src="${ book.bookIntroImage }">
        </div>

        <!-- 리뷰 & 한줄평 부분 / 개인 블로그 페이지로 이동 -->
        <div class="row">
            <div id="bookReview" class="h4 col">리뷰</div>
            
            <!-- 최신순, 선호도 등 정렬 드롭다운 -->
            <div class="dropdown col">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">정렬</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">최신순</a></li>
                    <li><a class="dropdown-item" href="#">선호도순</a></li>
                </ul>
            </div>
        </div>
        
        <!-- 리뷰(+ 긴글은 일부분만 볼 수 있도록 수정하기 -->
        
        <!--/* th:each를 통해서 불러오기   */-->
        <div  th:each="post : ${ postList }">
            <div class="my-2" th:text="${ post.user.name }" > </div>
            <div  th:text="${ post.myScore }"></div>
            <div th:text="${ post.title }"></div>
            <p class="border-bottom" th:text="${ post.postContent }"></p>
        </div>
        
        
        
        

        
        
        
        <div class="row">
            <div id="bookReview" class="h4 col">한줄평</div>
            
            <!-- 최신순, 선호도 등 정렬 드롭다운 -->
            <div class="dropdown col">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">정렬</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">최신순</a></li>
                    <li><a class="dropdown-item" href="#">선호도순</a></li>
                </ul>
            </div>
        </div>
        
        
        <!-- 한줄평 보기 --> 
        <div class="my-2">
            <div class="my-2">나는야어린왕자</div>
           <input class="form-control" type="text" value="오랜만에 너무 책을 재미있게 읽었습니다!!" aria-label="default input example" readonly>
        </div>
        <div class="my-2">
            <div class="my-2">하루키무라카미</div>
           <input class="form-control" type="text" value="역시 작가님.. 항상 너무 즐겁게 책을 읽고 있습니다!" aria-label="default input example" readonly>
        </div>
        
        <!-- 한줄평 작성하기 -->
        <div class="my-2 p-2 border">
            <div class="my-2">작성자 이름</div>
            <div class="row">
                <div class="col-10 my-2">
                    <input class="form-control" type="text" placeholder="로그인을 하고 한줄평을 남겨보세요!" aria-label="default input example">
                </div>
                <div class="col-2 my-2">
                    <button type="button" class="btn btn-dark" style="float: right;">작성</button>
                </div>
            </div>
        </div>
        
        <!-- 배송/반품/교환 관련 정보 부분 -->
        <h4 id="bookPayInfo">배송/반품/교환</h4>
        <p>...</p>
    </div>

    </div> <!-- 전체 블록 사이즈때문에 묶어놓은 것 end -->

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous">
    </script>

</body>
</html>