<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

    <div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Book Order Result</title>
    
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous" />
    
    <style>
        * {
            font-family: 'NanumBarunGothic';        
        }
    </style>
</head>
<body>

<h1>결제 완료 페이지 TEST</h1>

    <!-- 진행 순서 보여주기 -->
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0" style="color:gray;">01 CART</li>
        <li class="list-group-item border-0" style="color:gray;">></li>
        <li class="list-group-item border-0" style="color:gray;">02 ORDER</li>
        <li class="list-group-item border-0" style="color:gray;">></li>
        <li class="list-group-item border-0" style="font-weight: bold;">03 ORDER CONFIRMED</li>
    </ul>
    
    <div class="h2 container">
    <span>username</span><span>님, 지식이 +1 되셨습니다!</span>
    </div>
    
    <div class="text-bg-warning rounded" style="height:200px;">
        <div class="h3">username님, 무통장 입금 후 바로 발송됩니다~~!</div>
        <hr/>
        <div>
        입금계좌: 부끄은행 1234567891234 | 예금주: 부끄부끄 | 입금액: 14,000원
        </div>
        <div>입금 시기에 따라 도착예상일이 변경될 수 있습니다. 입금 완료 후, <a>마이페이지 > 주문내역</a> 에서 꼭 확인 부탁드립니다.</div>
    </div>

    <div class="my-2 container">
    <button id="btnMypage" type="button" class="btn btn-outline-dark" style="width:150px">마이페이지</button>
    <button onclick="location.href='/';" type="button" class="btn btn-outline-dark" style="width:150px">HOME</button>
    </div>





<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
crossorigin="anonymous">
</script>

</body>
</div>
</html>