<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

    <div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Book Order</title>
    
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous" />
    
    <style>
        * {
            font-family: 'NanumBarunGothic';        
        }
    </style>
</head>
<body>

    <!-- 진행 순서 보여주기 -->
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0" style="color:gray;">01 CART</li>
        <li class="list-group-item border-0" style="color:gray;">></li>
        <li class="list-group-item border-0" style="font-weight: bold;">02 ORDER</li>
        <li class="list-group-item border-0" style="color:gray;">></li>
        <li class="list-group-item border-0" style="color:gray;">03 ORDER CONFIRMED</li>
    </ul>
    
    <div class="bg-light">
        <div class="row">
        <!-- 주문자 정보 창 -->
            <div class="m-2 col">
                <div class="m-2 h4">배송정보</div>
                
                <form>
                <div class="my-2">
                    <span>수령인</span> <input th:value="${ user.username }" class="form-control" type="text" />
                </div>
                <div class="my-2">
                    <span>주소</span> <input th:value="${ user.address }" class="form-control" type="text" />
                    <button>주소 찾기</button>
                </div>
                <div class="my-2">
                    <span>연락처</span> <input th:value="${ user.phone }" class="form-control" type="text" />
                </div>
                <div class="my-2">
                    <div class="row">
                        <div class="col-2">
                        <span>메시지</span>
                        </div>
                        
                        <div class="col-10">
                        <div class="dropdown">
                            <button class="w-100 btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">부재시 연락주세요.</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">부재시 현관앞에 놔주세요.</a></li>
                                <li><a class="dropdown-item" href="#">도착시 전화주세요.</a></li>
                                <li><a class="dropdown-item" href="#">문앞에 두고 문자 남겨주세요.</a></li>
                            </ul>
                        </div>
                        </div>
                    </div> <!-- row end -->
                </div>
                
                <div>
                    <div class="m-2 h4">결제방법</div>
                    <div class="m-2">
                        <button type="button" class="w-25 btn btn-outline-dark">무통장 입금</button>
                        <button type="button" class="w-25 btn btn-outline-dark">삼성페이</button>
                    </div>
                </div>
                </form>
                </div> <!-- col end -->
        
        <!-- 주문내역 창 -->
            <div class="col">
            
    <!-- 도서 간단 정보 및 장바구니, 구매하기 버튼 블록 -->
    <div class="container border-top border-bottom border-4 border-dark">
        <div class="row my-5"> 
            <!-- 도서 이미지 -->
            <div class="m-2 col"> 
                <a th:href="@{ /detail(id=${ book.bookId }) }"><img th:src="${ book.bookImage }" alt="${book.bookName}" style="width:200px;" /></a>
            </div>
            
            <!-- 도서 정보(+ 도서 정보 추가하기_있으면) -->
            <div class="col"> 
                <div class="row">
                    <div th:text="${ book.bookName }" class="col-10 h5 my-4"></div>
                </div>
                
                <div th:text="${ book.author }" style="color: gray;"></div>
                <div th:text="${ book.publisher }"></div>
                <div><span th:text="${ order.orderBookCount }"></span> 권</div>
                <div class="my-2"style="font-weight: bold;">
                    <span th:text="${ order.total }" style="font-size: large;"></span>
                    <span>원</span>
                </div>
            </div>
        </div>                
            
            
            </div>  
        </div> <!-- row end -->
    </div> <!-- 주문자, 주문내역 블록 end -->
    
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous">
    </script>

</body>
</div>
</html>