<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Book Order Result</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
        
    <style>
        * {
            font-family: 'NanumBarunGothic';        
        }
        
        th {
        	text-align: center;
        }
    </style>
</head>
<body class="bg-light">
	
<br/><br/><!-- 삭제 예정 -->	
	
<div class="w-75 container"><!-- 메인 블록 - 삭제해도 될 듯 -->

<div class="row"><!-- main block start -->
<div class="col-2"><!-- 프로필 블록 start -->
	<div class="border border-3 my-2" style="width:150px; height:200px;"></div>
	<div style="font-weight: bold;">박부끄</div>
	<small>저는 책을 좋아하는 박부끄라고 합니다:)</small>
	
	<hr/>
	
	<div>전체 방문자수</div>
	<div class="h4"><strong>1,004</strong></div>
	<div>Today: <span>58</span></div>
</div><!-- 프로필 블록 end -->
    
 <div class="col-10"><!-- content block start -->
	<div class="my-2">
		<small class="d-inline-flex px-2 my-1 border border-1 rounded text-secondary">
			<span>국내도서</span><span> / </span><span>인문</span>
		</small>
		<small>짜라투스트라는 이렇게 말했다</small>
	</div>
    
    <input class="form-control mb-2" value="짜라투스트라는 도대체 어떤 이야기를 남겼을까" type="text" />
    
    <small style="color:gray;">2022.12.19 17:52</small>
    <hr/>
    
    <textarea rows="20" class="form-control">고독을 사랑한 청년 니체(nietzsche, Friedrich Wilhelm 1844~1900)가 1883년에 저작한 책 <짜라투스트라는 이렇게 말했다>. 40세를 전후하던 니체의 사상을 엿볼 수 있다. 
    	여기서 그는 '신의 죽음'을 말하며 지상의 의의를 설파했고, '영원 회귀'로 삶의 긍정에 대한 개념을 밝혔으며, '초인'의 이상을 가르쳤다. 
    	초인은 모든 고뇌와 죽음을 초극한 니체의 이상적 인간상이다. -옮긴이의 말 中 고독을 사랑한 청년 니체(nietzsche, Friedrich Wilhelm 1844~1900)가 1883년에 저작한 책 <짜라투스트라는 이렇게 말했다>. 40세를 전후하던 니체의 사상을 엿볼 수 있다. 
    	여기서 그는 '신의 죽음'을 말하며 지상의 의의를 설파했고, '영원 회귀'로 삶의 긍정에 대한 개념을 밝혔으며, '초인'의 이상을 가르쳤다. 
    	초인은 모든 고뇌와 죽음을 초극한 니체의 이상적 인간상이다. -옮긴이의 말 中 고독을 사랑한 청년 니체(nietzsche, Friedrich Wilhelm 1844~1900)가 1883년에 저작한 책 <짜라투스트라는 이렇게 말했다>. 40세를 전후하던 니체의 사상을 엿볼 수 있다. 
    	여기서 그는 '신의 죽음'을 말하며 지상의 의의를 설파했고, '영원 회귀'로 삶의 긍정에 대한 개념을 밝혔으며, '초인'의 이상을 가르쳤다. 
    	초인은 모든 고뇌와 죽음을 초극한 니체의 이상적 인간상이다. -옮긴이의 말 中 고독을 사랑한 청년 니체(nietzsche, Friedrich Wilhelm 1844~1900)가 1883년에 저작한 책 <짜라투스트라는 이렇게 말했다>. 40세를 전후하던 니체의 사상을 엿볼 수 있다. 
    	여기서 그는 '신의 죽음'을 말하며 지상의 의의를 설파했고, '영원 회귀'로 삶의 긍정에 대한 개념을 밝혔으며, '초인'의 이상을 가르쳤다. 
    	초인은 모든 고뇌와 죽음을 초극한 니체의 이상적 인간상이다. -옮긴이의 말 中 고독을 사랑한 청년 니체(nietzsche, Friedrich Wilhelm 1844~1900)가 1883년에 저작한 책 <짜라투스트라는 이렇게 말했다>. 40세를 전후하던 니체의 사상을 엿볼 수 있다. 
    	여기서 그는 '신의 죽음'을 말하며 지상의 의의를 설파했고, '영원 회귀'로 삶의 긍정에 대한 개념을 밝혔으며, '초인'의 이상을 가르쳤다. 
    	초인은 모든 고뇌와 죽음을 초극한 니체의 이상적 인간상이다. -옮긴이의 말 中</textarea>
    	
	<button type="button" class="btn btn-outline-success my-2">수정</button>
	<button type="button" class="btn btn-outline-danger my-2">삭제</button>

    
</div><!-- content block end -->
</div><!-- main block end -->

	
	</div><!-- 메인 블록 end -->
	
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous">
    </script>

</body>
</html>