<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
    
    <!--/* layout/basic-layout.html 파일의 "content" 레이아웃 fragment를 채워 줄 내용 */-->
    <div layout:fragment="content">
        <div>
            <hr/>
        </div>
        <div>
            <h3>슬라이드쇼 들어갈 곳!</h3>
        </div>
        <div>
            <h3>책 랭킹</h3>
        </div>
        <div>
            <h3>현재 싸움이 벌어지고 있는 리뷰</h3>
        </div>
    </div>
    
    <script layout:fragment="script" th:inline="javascript">
    console.log('Thymeleaf 레이아웃 기능');
    </script>

</html>