<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<div layout:fragment="content">

<head>
	<meta charset="UTF-8">
	<title>BOOQUE</title>
	
	<link
	        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	        rel="stylesheet"
	        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	        crossorigin="anonymous" />

<!-- 
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous">
     -->
    
    <!-- <link rel='stylesheet' type='text/css'
    href='http://tkfile.yes24.com/New/Css/main2.css?v=2020012203' />
    <link rel='stylesheet' type='text/css'
    href='http://tkfile.yes24.com/New/Css/swiper.css' /> -->

</head>

    <div>
        <h3>슬라이드쇼 들어갈 곳!</h3>

<!-- 부트스트랩 버전 -->
<div id="carouselExampleIndicators" class="carousel slide  text-center" data-bs-ride="true" style="width: 400px;">
  <div class="carousel-indicators text-center">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner text-center">
    <div class="carousel-item active text-center">
        <a href ='/detail?id=10' target='_self' title='세상의 마지막 기차역'>
            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791191043754.jpg" class="d-block w-100" alt="세상의 마지막 기차역" />
        </a>
    </div>
    <div class="carousel-item text-center">
        <a href ='/detail?id=93' target='_self' title='다다다'>
            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791191114102.jpg" class="d-block w-100" alt="다다다" />
        </a>
    </div>
    <div class="carousel-item text-center">
        <a href ='/detail?id=48' target='_self' title='물고기는 존재하지 않는다'>
            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791189327156.jpg" class="d-block w-100" alt="물고기는 존재하지 않는다" />
        </a>
    </div>
    <div class="carousel-item text-center">
        <a href ='/detail?id=16' target='_self' title='인생의 허무를 어떻게 할 것인가'>
            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791167070791.jpg" class="d-block w-100" alt="인생의 허무를 어떻게 할 것인가" />
        </a>
    </div>
    <div class="carousel-item text-center">
        <a href ='/detail?id=3' target='_self' title='불편한 편의점(40만부 기념 벚꽃 에디션)'>
            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791161571188.jpg" class="d-block w-100" alt="불편한 편의점(40만부 기념 벚꽃 에디션)" />
        </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="postlist" style="margin-top:50px; margin-bottom:70px;">
<a href='../post/list' title='리뷰(포스트) 목록 페이지'>
<h3>리뷰(포스트) 목록 페이지</h3>
</a>
</div>



<!-- yes24 버전 -->

<!--  
         <div class='m2-kv-hidden'>
        <div class='m2-kv-wrap'>
            <div class='m2-kv'>
                <div class='swiper-container m2-kvs'>
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide'>
                            <a href='/detail?id=10'
                                target='_self' title='세상의 마지막 기차역'><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791191043754.jpg'
                                alt='세상의 마지막 기차역' /></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/detail?id=19'
                                target='_self'
                                title='파친코 1'><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791168340510.jpg'
                                alt='파친코 1' /></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/detail?id=48'
                                target='_self' title='물고기는 존재하지 않는다'><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791189327156.jpg'
                                alt='물고기는 존재하지 않는다' /></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/detail?id=16'
                                target='_self'
                                title='인생의 허무를 어떻게 할 것인가 '><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791167070791.jpg'
                                alt='인생의 허무를 어떻게 할 것인가' /></a>
                        </div>
                        <div class='swiper-slide'>
                            <a href='/detail?id=97'
                                target='_self'
                                title='왜 일하는가 '><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791130637037.jpg'
                                alt='왜 일하는가' /></a>
                        </div>
                        <div class='swiper-slide'>
                            <a
                                href='/detail?id=3'
                                target='_self' title='불편한 편의점(40만부 기념 벚꽃 에디션)'><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791161571188.jpg'
                                alt='불편한 편의점(40만부 기념 벚꽃 에디션)' /></a>
                        </div>
                        <div class='swiper-slide'>
                            <a
                                href='/detail?id=2'
                                target='_self'
                                title='아버지의 해방일지'><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788936438838.jpg'
                                alt='아버지의 해방일지' /></a>
                        </div>
                        
                        <div class='swiper-slide'>
                            <a href='/detail?id=79'
                                target='_self' title='꽃을 보듯 너를 본다'><img
                                src='https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791157280292.jpg'
                                alt='꽃을 보듯 너를 본다' /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='swiper-button-next m2-kvs'></div>
        <div class='swiper-button-prev m2-kvs'></div>
    </div>
   -->     




        <div class="ranking" style="margin-top:30px; margin-bottom:30px;">
            <h3>책 랭킹</h3>  
            <b><font color="brown"><h3>T</h3><h4>O</h4><h5>D</h5><h6>O...</h6></font></b>
        </div>
        <div class="hotposts" style="margin-top:30px; margin-bottom:30px;">
            <h3>현재 싸움이 벌어지고 있는 리뷰</h3>  
            <b><font color="brown"><h3>T</h3><h4>O</h4><h5>D</h5><h6>O...</h6></font></b>
            
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous">
    </script>

<!-- 
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
         -->
        
<!-- 
<script type='text/javascript'
    src='http://tkfile.yes24.com/New/Js/jquery-3.4.1_min.js'></script>
<script type='text/javascript'
    src='http://tkfile.yes24.com/New/Js/swiper_min.js'></script>
<script type='text/javascript'
    src='http://tkfile.yes24.com/New/Js/Main.js?v=916'></script> -->

    <!--  
    <script layout:fragment="script" th:inline="javascript">
    console.log('Thymeleaf 레이아웃 기능');
    </script>
    -->

</div>
</html>